.dropdown {
  overflow: hidden;
  width: min-content;
  float: right;
}.dropdown:hover .dropbtn, .dropbtn:focus {
  filter: brightness(150%);
}

.dropdown-content {
  display: none;
  position: fixed; 
  background-color: #f9f9f9;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  position: fixed;
  right: 148px;
  top: 50px;
}