/*   ===== Informacion Autor =====  
        Christopher Vega Mendez
                4AVPr 
             24/05/2021
                DAES
    =====   Fin de Bloque   =====  */
:root{
    /* === COLOR PALETTE === */
    --magnolia: #F7F0F5;
    --floralWhite: #FEF9EF;
    --plainWhite: #ffff;
    --oliveDrab3: #8A9933;
    --citron: #99AA38;
    --teaGreen: #C9DCB3;
    --onyx: #37393A;

    /* === FONTS === */
    --title: "KoHo";
    --main: "Nunito";
}
/* ===== MAIN SITE ===== */
body{
    height: 900px;
    background-color: var(--floralWhite);
}
main{
    margin: 0rem 20rem;
    font-family: var(--main);
}footer{
    margin: 0%;
    font-family: var(--title);
    background-image: linear-gradient(to bottom, var(--citron) 40%, var(--oliveDrab3) 100%);
    color: var(--magnolia);
}footer p{
    margin: 0;
    padding: 8px;
}
/* ===== END MAIN SITE ===== */

/* ===== HEADER ===== */
header{
    font-family: var(--title);
    margin: 0;
    color: var(--magnolia);
    background-image: linear-gradient(to bottom, var(--citron) 40%, var(--oliveDrab3) 100%);
    padding: 0 1rem 60px 1rem;
}nav a{
    color: var(--aliceBlue);
    text-decoration: none;
}h1{
    margin: 0;
    padding: 1.25rem;
    padding-top: 0;
    float: left;
}.mainIcon{
    float: left;
    height: 42px;
    margin-top: 8px;
}.navBtn{
    color: var(--magnolia);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    float: right;    
    margin-top: 8px;
    background-color: var(--onyx);
}.pfp{
    width: 41px;
    height: 41px;
    border: 1px solid var(--onyx);
}.username{
    float: right;    
    margin: 16px 10px;
    font-size: 1.2rem;
}
/* ===== START ARTICLES ===== */
section{
    padding: 1rem;
    text-align: center;
    margin: auto;
    background-color: var(--plainWhite);
    border-left: 1px solid var(--teaGreen);
    border-right: 1px solid var(--teaGreen);
}.divUserPost{
    margin: 1rem 0 1.7rem 0;
    border-bottom: 1px solid var(--citron);
}.pfpPost{
    height: 40px;
    float: left;
    margin-right: 8px;
}.datePost{
    float: right;
}
section .shadow{
    -webkit-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
}
/* ===== END ARTICLES ===== */